@model ProductSQLiteMVC.Models.ProductViewModel
@{
    ViewData["Title"] = "Delete Friend";
}
<h1>Delete</h1>
<h4>@ViewData["Title"]</h4>
<h5>You are going to Delete this record ... If you are sure, just press "Delete" button</h5>
<form method="post" class="w-75 mx-auto" class>
    <div class="mb-3">
        <label for="Id" class="form-label">Id:</label>
        <input type="text" class="form-control" id="Id" asp-for="Id" readonly />
    </div>
    <div class="mb-3">
        <label for="Name" class="form-label">Name:</label>
        <input type="text" class="form-control" id="Name" asp-for="Name" readonly />
    </div>
    <div class="mb-3">
        <label for="Description" class="form-label">Description:</label>
        <input type="text" class="form-control" id="Description" asp-for="Description" readonly />
    </div>
    <div class="mb-3">
        <label for="Price" class="form-label">Price:</label>
        <input type="number" class="form-control" id="Price" asp-for="Price" readonly />
    </div>

    <div class="mb-3">
        <input type="submit" class="btn btn-danger mx-auto d-inline" value="Delete" />
        <input type="button" class="btn btn-primary mx-auto d-inline" action="action"
            onclick="window.location.href='../'" value="Cancel" />
    </div>
</form>