@model ProductMVC.Models.ProductViewModel
@{
    ViewData["Title"] = "Delete Product";
    var imageFilePath = TempData["ImageFilePath"]?.ToString();
    if (imageFilePath == "/images/"){
        imageFilePath = "/images/NoData.jpg";
    }
    var source = TempData["Source"]?.ToString();
    if (source == "" | source == null)
    {
        source = "Unknown";
    }
}
<h1>Delete</h1>
<h4>@ViewData["Title"]</h4>
<h5>You are going to Delete this record ... If you are sure, just press "Delete" button</h5>
<form method="post" class="w-75 mx-auto">
    <div class="mb-3">
        <label for="Id" class="form-label">Id:</label>
        <input type="text" class="form-control" id="Id" asp-for="Id" readonly />
    </div>
    <div class="mb-3">
        <label for="Name" class="form-label">Name:</label>
        <input type="text" class="form-control" id="Name" asp-for="Name" readonly />
    </div>
    <div class="mb-3">
        <label for="Description" class="form-label">Description:</label>
        <input type="text" class="form-control" id="Description" asp-for="Description" readonly />
    </div>
    <div class="mb-3">
        <label for="Price" class="form-label">Price:</label>
        <input type="text" class="form-control" id="Price" asp-for="Price" readonly />
    </div>
    <div class="mb-3">
        <label for="ExpiredDate" class="form-label">Expired Date:</label>
    </div>
    <div class="mb-3">
        <label for="ImageFilename" class="form-label">Current Image Filename:</label>
        <input type="text" class="form-control" id="ImageFilename" asp-for="ImageFilename" readonly />
        <img src="@imageFilePath" width="120">
    </div>
    <div class="mb-3">
        <label for="source" class="form-label">Source: @source </label> <br />
    </div>
    <div class="mb-3">
        <label>&nbsp;&nbsp;&nbsp;</label>
        <div class="col-sm-9">
            <input type="submit" class="btn btn-info mx-auto d-inline" value="Save" />
            <input type="button" class="btn btn-primary mx-auto d-inline" value="Cancel" action="action"
                onclick="window.location.href='../'" />
        </div>
    </div>
</form>
